<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>items</key>
        <array>
            <dict>
                <key>cellClass</key>
                <string>HBTwitterCell</string>
                <key>label</key>
                <string>Conor - Development</string>
                <key>user</key>
                <string>ConorTheDev</string>
            </dict>
            <dict>
                <key>cellClass</key>
                <string>HBTwitterCell</string>
                <key>label</key>
                <string>Systemless - Idea and Themes</string>
                <key>user</key>
                <string>magisk_</string>
            </dict>
        </array>
        <key>title</key>
        <string>Credits</string>
    </dict>
</plist>