<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>items</key>
		<array>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>headerCellClass</key>
				<string>HBPackageNameHeaderCell</string>
				<key>packageIdentifier</key>
				<string>com.conorthedev.modernpower</string>
				<key>backgroundGradientColors</key>
				<array>
					<string>#ff9c9c</string>
					<string>#f75454</string>
				</array>
			</dict>
			<dict>
				<key>cellClass</key>
				<string>HBTwitterCell</string>
				<key>label</key>
				<string>Conor</string>
				<key>user</key>
				<string>ConorTheDev</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<true />
				<key>defaults</key>
				<string>com.conorthedev.modernpowerprefs</string>
				<key>label</key>
				<string>Enabled</string>
				<key>key</key>
				<string>kEnabled</string>
				<key>alternateColors</key>
				<true />
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>label</key>
				<string>Customization</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSegmentCell</string>
				<key>label</key>
				<string>Style</string>
				<key>key</key>
				<string>kUIStyle</string>
				<key>default</key>
				<integer>0</integer>
				<key>validTitles</key>
				<array>
					<string>Default</string>
					<string>Modern</string>
					<string>Custom</string>
				</array>
				<key>validValues</key>
				<array>
					<integer>0</integer>
					<integer>1</integer>
					<integer>2</integer>
				</array>
				<key>defaults</key>
				<string>com.conorthedev.modernpowerprefs</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>detail</key>
				<string>ModernPowerDefSettingsController</string>
				<key>isController</key>
				<true/>
				<key>label</key>
				<string>Default Settings</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>detail</key>
				<string>ModernPowerModernSettingsController</string>
				<key>isController</key>
				<true/>
				<key>label</key>
				<string>Modern Settings</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>detail</key>
				<string>ModernPowerCustomSettingsController</string>
				<key>isController</key>
				<true/>
				<key>label</key>
				<string>Custom Settings</string>
			</dict>
			<dict>
				<key>cellClass</key>
				<string>HBTintedTableCell</string>
				<key>cell</key>
				<string>PSButtonCell</string>
				<key>label</key>
				<string>Share Settings</string>
				<key>action</key>
				<string>share</string>
				<key>alternateColors</key>
				<true />
			</dict>
			<dict>
				<key>cellClass</key>
				<string>HBTintedTableCell</string>
				<key>cell</key>
				<string>PSButtonCell</string>
				<key>label</key>
				<string>Import Settings</string>
				<key>action</key>
				<string>import</string>
				<key>alternateColors</key>
				<true />
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>detail</key>
				<string>ModernPowerCreditsController</string>
				<key>isController</key>
				<true/>
				<key>label</key>
				<string>Credits</string>
			</dict>
			<dict>
				<key>cellClass</key>
				<string>HBLinkTableCell</string>
				<key>label</key>
				<string>My Website</string>
				<key>url</key>
				<string>https://conorthedev.com/</string>
			</dict>
			<dict>
				<key>cellClass</key>
				<string>HBLinkTableCell</string>
				<key>label</key>
				<string>Support me</string>
				<key>url</key>
				<string>https://patreon.com/ConorTheDev</string>
			</dict>
		</array>
		<key>title</key>
		<string>ModernPower</string>
	</dict>
</plist>